 
header{
    text-align: center;
    display:flex;
    justify-content:space-between;
    /*justify-content: space-around;*/ 
    /*justify-content: flex-start; funion por defecto*/
    align-items: center;/*centrar todas las imagenes*/
    background-color:red;
    margin-left: 10px;
    margin-right: 10px;
   
    
    
   
    
    
    
}
 strong{
     
      
     color: white;
     margin-left: 15px;
     
     
     
     
 } 
 
nav ul{
    display: flex;
     
}

nav ul li{
 
    list-style: none;
     
    
}
a {
   
    text-decoration: none;
    margin: 25px;
    color: white;
}







footer{
    
 
  
  
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
 
    
    
}
footer ul{

    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 40px;
     
}
footer ul li{
   list-style: none;
color: white;
}
 
 














div{
    background-color: lavender;
    margin-top: 10px;
    padding: 5px;
    
    
    
}
 

#nombre:valid, #edad:valid {
    border: 2px solid yellow;
}

 
 
 
 
 #nombre, #edad, #email, #pais, #comentarios {
     display: inline-block;
     width: 60%;
     height: 30px;
 }
 button{
     width: 20%;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px
}

 main{
    margin: 10px;
    padding: 5px;
 }